.row-action-btn {
  width: 100% !important;
  justify-content: flex-start !important;
  height: 36px !important;
  padding: 0 8px !important;
  font-weight: 600 !important;
  margin-left: 0px !important;
}

.row-action-btn:hover {
  background: #f4f6fa !important;
}

.row-action-btn-primary {
  color: #16215B !important;
}

.row-action-btn-danger {
  color: #C62828 !important;
}